# test file
test.py

# Packages
*.egg
*.eggs
*.egg-info
*.cache

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache
eggs

# pycache
__pychache__
*.pyc

# docs
doc/build
doc/ghpages_build
doc/auto_examples
doc/modules
doc/reference/generated
doc/reference/classes/generated
doc/reference/functions/generated
doc/reference/invariants/generated
