# test file
test.py

# Packages
*.egg
*.eggs
*.egg-info
*.cache

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache
eggs

# pycache
__pychache__
*.pyc

# docs
docs/_build
docs/_static
docs/_templates
docs/reference/generated
docs/reference/classes/generated
docs/reference/functions/generated
docs/reference/invariants/generated

# dist and build
/dist
/build

# scratch folder
/scratch

# virtual environments
venv/
