black==19.3b0
bumpversion==0.5.3
codecov==2.0.15
coverage==4.5.3
flake8==3.7.7
nb2plots==0.6
pydocstyle==3.0.0
pytest==4.5.0
pytest-cov==2.7.1
pytest-runner==5.1
sphinx==2.0.1
sphinx_rtd_theme==0.4.3
tox==3.12.1
twine==1.13.0
wheel==0.33.4
watchdog==0.9.0
